body{
    background-color: #f3f3f3;
}
.logo{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    float: left;
    margin-left: 0px;
    cursor:inherit;
}
.main{
    background: white;
    width: 1918px;
    margin: 0 auto;
    overflow: hidden;
    padding: 10px;
}
